services:
  db:
    image: postgres:16
    container_name: discgolf_postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_OWNER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "PGPASSWORD=$${POSTGRES_PASSWORD} pg_isready -U $${POSTGRES_OWNER}",
        ]
      interval: 5s
      timeout: 5s
      retries: 5
  redis:
    image: redis:8-alpine
    container_name: discgolf_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
  pgadmin:
    image: dpage/pgadmin4:8
    container_name: discgolf_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: discgolf_api
    depends_on:
      - db
      - redis
    env_file:
      - .env
    ports:
      - "8000:8000"

volumes:
  postgres_data:
  redis_data:
  pgadmin_data:
